<div class="people-container">

<% if( person !== undefined){ %>
  <% _.each(person.print_info(), function (info, index) {  %>
    <% if (info.person.escape("parents_id")){ %>
      <div class="dot parent-dot <%= info.person.id %>"></div>
    <% } %>

    <div class="<%= info.classes %>" data-id="<%= info.person.id %>">
      <% if (info.person.id === person.id){ %>
        <div id="<%= index %>" class="current-person person-object <%= info.person.id %>">
      <% } else { %>
        <div id="<%= index %>" class="person-object <%= info.person.id %>">
      <% } %>
        <img class="person-avatar" src="<%= info.person.escape("avatar") %>">
        <a class="show-person" data-pid="<%= info.person.id %>" href="#"><%= info.person.escape("name") %></a>
      </div>
    </div>

  <% }) %>
<% } else {%>
  Person unavailable!
<% } %>
</div>
  

