<a href="#" class="new-spouse-icon person-options-icons <%= person_local_id %> <%= person_id %>" alt="Add Spouse">
  <img class="icon-link" src="assets/spouse.png" alt="Spouse Icon">
</a>
<a href="#" class="new-parents-icon person-options-icons <%= person_local_id %> <%= person_id %>" alt="Add Parents">
  <img class="icon-link" src="assets/parents.png" alt="Parents Icon">
</a>
<a href="#" class="delete-person-icon person-options-icons <%= person_local_id %> <%= person_id %>" alt="Delete Person">
  <img class="icon-link" src="assets/delete.png" alt="Delete Icon">
</a>
<a href="#" class="edit-person-icon person-options-icons <%= person_local_id %> <%= person_id %>" alt="Edit Person">
  <img class="icon-link" src="assets/edit.png" alt="Edit Icon">
</a>

