<h3><%= person.escape("name") %></h3>


  <% _.each(person.print_info(), function (info) {  %>

    <div id="<%= info.person.id %>" class="<%= info.classes %>">
      <div class="person-object">
        <a class="show-person" data-pid="<%= info.person.id %>" href="#"><%= info.person.escape("name") %></a>
      </div>
    </div>

  <% }) %>
  

