<% if (tree) { %>
  <a class="create add-person-link" data-tid="<%= tree.get("id") %>" href="#">+Person</a> 
  
  <form class="add-person-form">
    <input type="hidden" name="person[tree_id]" value="<%= tree.get("id")  %>"></input>
  
    <input type="text" name="person[name]" placeholder="Person Name"></input>
    <input type="submit" value="+"></input>
  </form>
  
  &nbsp; | &nbsp;
  <a class="destroy delete-people-link" data-tid="<%= tree.get("id") %>" href="#">-People</a>  
  
  &nbsp; | &nbsp;
  <a class="update change-head-link" data-tid="<%= tree.get("id") %>" href="#">&#x25B5;Head</a>
  
  &nbsp; | &nbsp;
  <a class="update rename-tree-link" data-tid="<%= tree.get("id") %>" href="#">&#x25B5;Tree Name</a> 
  
  <form class="rename-tree-form">  
    <input type="text" name="tree[name]" placeholder="<%= tree.get("name")  %>"></input>
    <input type="submit" value="+"></input>
  </form>
  
  &nbsp; | &nbsp;
  <a class="destroy delete-tree-link" data-tid="<%= tree.get("id") %>" href="#">-Tree</a> 
  
<% } %>
